{% extends 'base.html.twig' %}

{% block title %}Success Project • Cartagena{% endblock %}

{% block body %}
    <!-- Hero Section -->
    <section style="background-image: url('./assets/images/cartagena.png')" class="w-full h-screen bg-cover bg-no-repeat bg-center flex flex-col lg:flex-row justify-center items-center gap-12 p-8 lg:p-0">
        <div class="bg-success-orange/50 backdrop-blur p-8 rounded-xl text-white text-center max-w-md">
            <h2 class="text-4xl mb-4 font-bold">SUCCESS Project</h2>
            <p class="text-lg mb-8">Join the success community to become the better engineer you can be!</p>
            <a href="#about" class="bg-success-white/50 rounded-lg p-4 hover:bg-white font-bold text-white hover:text-success-orange  duration-300">About us?</a>
        </div>
        <h2 class="text-6xl lg:text-8xl font-bold text-white opacity-75">Cartagena</h2>
    </section>

    <!-- About us Section -->
    <section class="relative mb-16 lg:mb-[200px]" id="about">
        <h2 class="font-bold text-8xl lg:text-10xl text-gray-100">About</h2>
        <h3 class="text-success-orange -mt-8 mb-8 w-9/12 mx-auto">About us</h3>

        <div class="rounded-full w-[220px] h-[220px] bg-success-orange absolute top-16 -left-[140px] -z-10"></div>

        <div class="w-11/12 lg:w-9/12 mx-auto flex flex-col gap-16">

            <div class="flex flex-col gap-6 lg:flex-row lg:justify-between">
                <h4 class="font-bold text-4xl text-center lg:text-left lg:w-3/12">What is project SUCCESS ?</h4>
                <div class="lg:text-right lg:w-1/2">
                    <p class="font-bold text-lg mb-4">Success is a project that is internationally linked, allowing engineering students to attend lectures at seminars in other schools.</p>
                    <p>Our first event took place in Cartagena, Spain where our students performed a hackathon on the topic of digital communication in the 21st century. Thanks to their knowledge acquired during this week, different groups were able to respond to different topics.</p>
                </div>
            </div>

            <div class="flex flex-col-reverse gap-4 lg:gap-0 lg:flex-row lg:justify-between items-center">
                <div class="lg:w-1/2">
                    <p class="font-bold text-lg mb-4">English, Softskills & communication</p>
                    <p>SUCCESS is a relevant project because it allows our students to develop their Softskills (public speaking, teamwork, etc.) but also their understanding of listening to students from other parts of the world. Finally, it allows our students to participate in different conferences in order to have a theoretical approach.</p>
                </div>
                <h4 class="font-bold text-4xl lg:w-3/12 lg:text-right">Why is this project relevant ?</h4>
            </div>

            <div class="flex flex-col gap-4 lg:gap-0 lg:flex-row justify-between items-center">
                <h4 class="font-bold text-4xl">Who will participate ?</h4>
                <div class="lg:w-1/2">
                    <p class="font-bold text-lg mb-4 lg:text-right">Universities, partners...</p>
                    <p class="lg:text-right">SUCCESS collaborates with 5 partners:
                        Universidad politécnica de Cartagena, Technische universität Dresden, De Vinci Group, Riga Technical University & The Pyramid Group.</p>
                </div>
            </div>

            <div class="hidden lg:flex flex-col justify-center gap-6 ">
                <div class="flex gap-10 justify-center relative">
                    <div class="rounded-full w-[220px] h-[220px] bg-success-orange absolute -top-16 left-[160px] -z-10 flex-wrap"></div>
                    <img class="rounded-full" src="./assets/images/cartagena2.png" alt="">
                    <img class="rounded-full" src="./assets/images/dresden2.png" alt="">
                    <img class="rounded-full" src="./assets/images/riga2.png" alt="">
                    <img class="rounded-full" src="./assets/images/paris2.png" alt="">
                    <div class="rounded-full w-[220px] h-[220px] bg-success-orange absolute -bottom-16 right-[160px] -z-10 flex-wrap"></div>
                </div>
                <p class="w-1/2 mx-auto text-center">Various events will be held at the different partner universities, where students will be able to visit the city in their free time as well as enjoy cultural tours offered by SUCCESS.</p>
            </div>

        </div>
    </section>

    <!-- Events Section -->
    <section class="bg-success-black text-white pb-16 lg:pb-[200px]" id="events">
        <h2 class="text-black/25 font-bold text-8xl lg:text-10xl ml-auto justify-self-end">Events</h2>
        <h3 class="text-success-orange -mt-8 mb-8 w-9/12 mx-auto">Events</h3>
        <div class="w-9/12 mx-auto flex flex-col gap-16">

            <div class="flex flex-col lg:flex-row lg:gap-16 lg:items-center">
                <img src="./assets/images/cartagena3.png" alt="" class="rounded-xl">
                <div>
                    <div class="flex lg:flex-col lg:justify-start lg:items-start justify-between items-center">
                        <h3 class="text-4xl font-bold">Cartagena</h3>
                        <p class="text-success-orange">April 2022</p>
                    </div>
                    <p class="text-xl font-bold">Activity:</p>
                    <p>Digital Communication in the 21st Century</p>
                </div>
            </div>

            <div class="flex flex-col gap-12 lg:gap-0 lg:flex-row justify-between">

                <div class="lg:w-3/12">
                    <img src="./assets/images/dresden3.png" alt="" class="rounded-xl mx-auto">
                    <div class="flex justify-between items-center">
                        <h4 class="text-3xl font-bold lg:my-1">Dresden</h4>
                        <p class="text-success-orange">January 2023</p>
                    </div>
                    <p class="font-bold text-xl">Activity:</p>
                    <p>English for Specific Purposes Career Panel</p>
                </div>

                <div class="lg:w-3/12">
                    <img src="./assets/images/riga3.png" alt="" class="rounded-xl mx-auto">
                    <div class="flex justify-between items-center">
                        <h4 class="text-3xl font-bold lg:my-1">Riga</h4>
                        <p class="text-success-orange">October 2023</p>
                    </div>
                    <p class="font-bold text-xl">Activity:</p>
                    <p>Virtual Simulation Platform for Improving / Practicing Communication Competences</p>
                </div>

                <div class="lg:w-3/12">
                    <img src="./assets/images/paris3.png" alt="" class="rounded-xl mx-auto">
                    <div class="flex justify-between items-center">
                        <h4 class="text-3xl font-bold lg:my-1">Paris</h4>
                        <p class="text-success-orange">January 2024</p>
                    </div>
                    <p class="font-bold text-xl">Activity:</p>
                    <p>English for Specific Purposes</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Universities Section -->
    <section class="mb-16 lg:mb-[200px]" id="universities">
        <h2 class="text-gray-100 font-bold text-6xl lg:text-10xl">Universities</h2>
        <h3 class="text-success-orange -mt-6 mb-8 text-center">Project Participants</h3>
        <h4 class="text-2xl font-bold text-center">Discover the participating universities</h4>
        <div class="w-9/12 mx-auto flex flex-wrap lg:mt-16 gap-6 justify-center">

            <a class="w-[190px] flex justify-center items-center rounded-xl hover:opacity-75 duration-300 min-h-[150px]" href="https://www.upct.es/" target="_blank">
                <img src="./assets/images/UPCT.svg" alt="" class="object-cover rounded-sm bg-white">
            </a>

            <a class="w-[190px] flex justify-center items-center rounded-xl hover:opacity-75 duration-300 min-h-[150px]" href="https://tu-dresden.de/" target="_blank">
                <img src="./assets/images/TUD.svg" alt="" class="object-cover rounded-sm bg-white">
            </a>

            <a class="w-[190px] flex justify-center items-center rounded-xl hover:opacity-75 duration-300 min-h-[150px]" href="https://www.devinci.fr/" target="_blank">
                <img src="./assets/images/PULV.png" alt="" class="object-cover rounded-sm bg-white">
            </a>

            <a class="w-[190px] flex justify-center items-center rounded-xl hover:opacity-75 duration-300 min-h-[150px]" href="https://www.rtu.lv/en" target="_blank">
                <img src="./assets/images/RTU.svg" alt="" class="object-cover rounded-sm bg-white">
            </a>

            <a class="w-[190px] flex justify-center items-center rounded-xl hover:opacity-75 duration-300 min-h-[150px]" href="http://thepyramidgroup.biz/" target="_blank">
                <img src="./assets/images/TPG.png" alt="" class="object-cover rounded-sm bg-white">
            </a>

        </div>
    </section>

    <!-- Last News Section -->
    <section class="bg-success-black text-white pb-16 lg:pb-[200px]" id="news">
        <div class="w-11/12 flex justify-between items-center mb-8">
            <div>
                <h2 class="text-black/25 font-bold text-8xl lg:text-10xl ml-auto justify-self-end">News</h2>
                <h3 class="text-success-orange -mt-8 mb-8 w-9/12 mx-auto">Lastest News</h3>
            </div>
            <a href="{{ path('news_index') }}" class="text-white text-3xl font-bold hover:underline duration-300 text-right">See our lastest news</a>
        </div>

        <div class="w-9/12 flex flex-wrap gap-4 justify-center mx-auto">

            {% for article in news %}
                <article class="flex flex-col bg-black/60 duration-300 w-[340px] h-[425px] rounded-xl overflow-hidden relative">
                    <div class="h-1/2">
                        <img src="/assets/uploads/{{ article.img }}" alt="" class="w-full h-full object-cover">
                    </div>
                    <div class="h-1/2 p-3">
                        <div class="flex items-center gap-1">
                            <h3 class="font-medium text-lg text-success-orange">{{ article.title }}</h3><p>• {{ article.createdAt | date("Y/m/d") }}</p>
                        </div>
                        <div>
                            {{ article.text | striptags | slice(0,160) | raw }}...
                        </div>
                        <a href="{{ path('news_show', {'id': article.id }) }}" class="bg-success-orange/70 hover:bg-success-orange duration-300 px-4 py-1 rounded-lg absolute bottom-4 right-4">See more</a>
                    </div>
                </article>
            {% endfor %}
            {% if news|length == 0 %}
                <p class="text-xl font-medium">No news were actually published... 😢</p>
            {% endif %}
        </div>

    </section>
{% endblock %}
