<!-- Footer -->
<footer class="w-full h-auto bg-success-black text-white py-8 flex flex-col justify-center items-center gap-12">
    <div class="w-11/12 lg:w-9/12 flex flex-col lg:flex-row lg:justify-between">
        <div>
            <h2 class="font-bold text-xl pb-4 text-success-orange">Navigation</h2>
            <ul>
                <li><a href="{{ path('home') }}" class="hover:text-success-orange duration-300">Home</a></li>
                <li><a href="{{ path('home') }}#about" class="hover:text-success-orange duration-300">About</a></li>
                <li><a href="{{ path('home') }}#events" class="hover:text-success-orange duration-300">Events</a></li>
                <li><a href="{{ path('home') }}#universities" class="hover:text-success-orange duration-300">Universities</a></li>
                <li><a href="{{ path('news_index') }}" class="hover:text-success-orange duration-300">News</a></li>
                <li><a href="{{ path('media_index') }}" class="hover:text-success-orange  duration-300">Medias</a></li>
            </ul>
        </div>
        <div class="flex flex-col items-center">
            <h2 class="font-bold text-xl pb-4 text-success-orange">Contact Us</h2>
            <form action="" class="flex flex-col justify-center gap-4">
                <table>
                    <tr>
                        <td class="pr-2"><label for="name">Name & Lastname</label></td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td class="pr-2"><label for="email">Email</label></td>
                        <td><input type="email" name="email"></td>
                    </tr>
                    <tr>
                        <td class="pr-2"><label for="phone">Phone Number</label></td>
                        <td><input type="number" name="phone"></td>
                    </tr>
                </table>
                <button type="submit" class="bg-success-orange font-medium p-2 duration-300">Submit</button>
            </form>
        </div>
        <div>
            <h2 class="font-bold text-xl pb-4 text-success-orange">Stay informed</h2>
            <ul>
                <li><a href=""  target="_blank" class="hover:text-success-orange duration-300 flex lg:flex-row-reverse gap-2"><i class="fab fa-linkedin fa-lg"></i>LinkedIn</a></li>
                <li><a href="https://www.facebook.com/project.success21" target="_blank" class="hover:text-success-orange duration-300 flex lg:flex-row-reverse gap-2"><i class="fab fa-facebook fa-lg"></i>FaceBook</a></li>
                <li><a href="https://www.tiktok.com/@project.success"  target="_blank" class="hover:text-success-orange duration-300 flex lg:flex-row-reverse gap-2"><i class="fab fa-tiktok fa-lg"></i>TikTok</a></li>
            </ul>
        </div>
    </div>
    <p>Made with ❤️ by <a href="https://www.iim.fr" target="_blank" class="underline font-medium">404 Devinci 🦖</a></p>
</footer>