<!-- Footer -->
<footer class="w-full h-auto">
    <div class="w-full flex justify-between px-12 py-2 bg-success-orange">
        <p>Stay connected with our social networks:</p>
        <div class="flex gap-4 text-lg">
            <a href=""><i class="fab fa-tiktok"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
        </div>
    </div>

    <div class="flex justify-between gap-16 px-12 py-4 bg-success-black text-white">
        <div class="w-1/4 flex flex-col gap-4">
            <h3 class="text-lg font-medium border-b-2 border-success-orange w-fit pr-4">Success</h3>
            <p class="font-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet beatae commodi delectus, doloremque, ex excepturi fugit ipsa laborum minus natus nobis porro provident qui, quibusdam rem sed tempora unde!</p>
            <img src="" alt="">
        </div>

        <div class="w-1/6 flex flex-col gap-4">
            <h3 class="text-lg font-medium border-b-2 border-success-orange w-fit pr-4">Navigation</h3>
            <ul class="font-light">
                <li><a href="{{ path('home') }}#about">About</a></li>
                <li><a href="{{ path('home') }}#events">Events</a></li>
                <li><a href="{{ path('home') }}#university">University</a></li>
                <li><a href="{{ path('news_index') }}">News</a></li>
                <li><a href="{{ path('media_index') }}">Medias</a></li>
            </ul>
        </div>

        <div class="w-1/6 flex flex-col gap-4">
            <h3 class="text-lg font-medium border-b-2 border-success-orange w-fit pr-4">Contact</h3>
            <ul>
                <li class="flex gap-2 items-center">
                    <i class="fas fa-envelope"></i>
                    <p>Un mail</p>
                </li>
                <li class="flex gap-2 items-center">
                    <i class="fas fa-map-pin"></i>
                    <p>Une adresse</p>
                </li>
                <li class="flex gap-2 items-center">
                    <i class="fas fa-phone-square-alt"></i>
                    <p>Une numéro de téléphone</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="w-full h-[4px] bg-success-orange"></div>

    <div class="w-full h-auto bg-black/80 flex justify-center py-2 gap-1 text-white">
        <p>By</p>
        <a href="" class="underline">La 404 Devinci</a>
        <p>&copy; 2022 Copyright</p>
    </div>
</footer>