<!-- Footer -->
<footer class="w-full h-auto">
    <div class="w-full flex justify-between px-12 py-2 bg-success-orange">
        <p>Stay connected with our social networks:</p>
        <div class="flex gap-4 text-lg">
            <a href="https://www.tiktok.com/@project.success" target="_blank" class="hover:text-white duration-300"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.facebook.com/project.success21" target="_blank" class="hover:text-white duration-300"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/company/projectsuccess21/" target="_blank" class="hover:text-white duration-300"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-between gap-8 lg:gap-16 px-12 py-4 pb-16 bg-success-black text-white">
        <div class="w-full lg:w-3/12 flex justify-start">
            <div class="flex flex-col gap-4">
                <h3 class="text-lg font-medium border-b-2 border-success-orange w-fit pr-2">Success</h3>
                <p class="font-light">Success is a project that is internationally linked, allowing engineering students to attend lectures at seminars in other schools.</p>
                <div class="flex gap-6">
                    <div class="flex content-center items-center gap-2">
                        <img class="object-contain w-1/4" src="{{ asset('assets/images/EU-Logo.jpeg') }}" alt="">
                        <p class="text-sm w-[170px]">Co-funded by the Erasmus+ Programme of the European Union</p>
                    </div>
                    <img class="w-1/5 object-contain" src="{{ asset('assets/images/favicon-SUCCESS.svg') }}" alt="">
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/6 flex lg:justify-center">
            <div class="flex flex-col gap-4">
                <h3 class="text-lg font-medium border-b-2 border-success-orange w-fit pr-2">Navigation</h3>
                <ul class="font-light">
                    <li class="hover:underline hover:text-success-orange duration-300"><a href="{{ path('home') }}#about">About</a></li>
                    <li class="hover:underline hover:text-success-orange duration-300"><a href="{{ path('home') }}#events">Events</a></li>
                    <li class="hover:underline hover:text-success-orange duration-300"><a href="{{ path('home') }}#university">University</a></li>
                    <li class="hover:underline hover:text-success-orange duration-300"><a href="{{ path('news_index') }}">News</a></li>
                    <!--<li class="hover:underline hover:text-success-orange duration-300"><a href="{{ path('media_index') }}">Medias</a></li>-->
                </ul>
            </div>
        </div>

        <div class="w-3/4 lg:w-3/12 flex lg:justify-end">
            <div class="flex flex-col gap-4">
                <h3 class="text-lg border-b-2 border-success-orange w-fit pr-2">Contact</h3>
                <ul>
                    <li class="flex gap-4 items-center">
                        <div class="flex w-2 justify-center">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <p class="font-light">project-success21@outlook.com </p>
                    </li>
                    <li class="flex gap-4 items-center">
                        <div class="flex w-2 justify-center">
                            <i class="fas fa-map-pin"></i>
                        </div>
                        <p class="font-light">Une adresse</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-full h-[4px] bg-success-orange"></div>

    <div class="w-full h-auto bg-black/80 flex justify-center py-2 gap-1 text-white">
        <p>Made by</p>
        <a href="https://forum-associatif-numerique.fr/associations/la-404-devinci" target="_blank" class="underline">La</a><a href="https://forum-associatif-numerique.fr/associations/la-404-devinci" target="_blank" class="underline"><img class="w-[24px] object-contain" src="{{ asset('assets/images/404.png') }}" alt=""></a><a href="https://forum-associatif-numerique.fr/associations/la-404-devinci" target="_blank" class="underline">DeVinci</a>
        <p>&copy; 2022 Copyright SUCCESS</p>
    </div>
</footer>