{% if app.user %}
<div class="bg-success-orange">
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
        <div class="w-0 flex-1 flex items-center">
        <span class="flex p-2 rounded-lg bg-white">
            <!-- Heroicon name: outline/speakerphone -->
            <svg class="h-6 w-6 text-success-orange" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
            </svg>
        </span>
        <p class="ml-3 font-medium text-white truncate">
            {% if is_granted('ROLE_ADMIN') %}
            <span class="md:hidden">Hello {{ app.user.username }} ! </span>
            <span class="hidden md:inline">Hello {{ app.user.username }}, you can access to the Dashboard !</span>
            {% else %}
            <span class="md:hidden">Hello {{ app.user.username }}, Please Logout.</span>
            <span class="hidden md:inline">Hello {{ app.user.username }}, you're not an Administrator. Please Logout.</span>
            {% endif %}
        </p>
        </div>
        <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto flex gap-4">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('dashboard') }}" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-success-orange bg-white hover:bg-indigo-50">Go to Dashboard</a>
                <a href="{{ path('app_logout') }}" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-success-orange bg-white hover:bg-indigo-50">Logout</a>
            {% else %}
                <a href="{{ path('app_logout') }}" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-success-orange bg-white hover:bg-indigo-50">Logout</a>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endif %}
<!-- Header Desktop -->
<header class="w-full px-2 lg:px-8 h-[60px] flex justify-between items-center shadow-md sticky top-0 bg-white z-50">
    <div class="flex items-center content-center gap-4 w-36">
        <img src="{{ asset('assets/images/succes-logo.png') }}" alt="" class="h-16 py-4">
        <img src="{{ asset('assets/images/EU-logo.jpeg') }}" alt="" class="h-full w-16 py-4">
    </div>

    <nav class="hidden lg:flex" id="nav">
        <ul class="flex gap-12 font-medium">
            <li><a href="{{ path('home') }}" class="hover:text-success-orange duration-300">Home</a></li>
            <li><a href="{{ path('home') }}#about" class="hover:text-success-orange duration-300">About</a></li>
            <li><a href="{{ path('home') }}#events" class="hover:text-success-orange duration-300">Events</a></li>
            <li><a href="{{ path('home') }}#universities" class="hover:text-success-orange duration-300">Partners</a></li>
            <li><a href="{{ path('news_index') }}" class="hover:text-success-orange duration-300">News</a></li>
            <!--<li><a href="{{ path('media_index') }}" class="hover:text-success-orange  duration-300">Medias</a></li>-->
        </ul>
    </nav>
    <div class="hidden lg:flex gap-4 w-36 flex justify-end">
        <a href="https://www.facebook.com/project.success21" target="_blank" class="hover:text-success-orange  duration-300"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="https://www.tiktok.com/@project.success" target="_blank" class="hover:text-success-orange  duration-300"><i class="fab fa-tiktok fa-lg"></i></a>
        <a href="https://www.linkedin.com/company/projectsuccess21/" target="_blank" class="hover:text-success-orange  duration-300"><i class="fab fa-linkedin fa-lg"></i></a>
    </div>

    <div x-data="{ open: false }" class="relative lg:hidden">
        <button @click="open = ! open"><i class="fas fa-bars fa-2x"></i></button>
        <nav x-show="open" @click.outside="open = false" class="absolute -bottom-54 right-2">
            <ul class="bg-white shadow rounded overflow-hidden">
                <li class="hover:bg-success-orange hover:text-white duration-300 p-2"><a href="{{ path('home') }}" >Home</a></li>
                <li class="hover:bg-success-orange hover:text-white duration-300 p-2"><a href="{{ path('home') }}#about">About</a></li>
                <li class="hover:bg-success-orange hover:text-white duration-300 p-2"><a href="{{ path('home') }}#events">Events</a></li>
                <li class="hover:bg-success-orange hover:text-white duration-300 p-2"><a href="{{ path('home') }}#universities">Universities</a></li>
                <li class="hover:bg-success-orange hover:text-white duration-300 p-2"><a href="{{ path('news_index') }}">News</a></li>
                <!--<li class="hover:bg-success-orange hover:text-white duration-300 p-2"><a href="{{ path('media_index') }}">Medias</a></li>-->
            </ul>
        </nav>
    </div>
</header>