<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard Success{% endblock %}</title>
    <script src="https://kit.fontawesome.com/28c63ecd3f.js" crossorigin="anonymous"></script>
    <link type="image/png" rel="icon" href="{{ asset('assets/images/favicon-SUCCESS.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body class="w-full min-h-screen bg-gray-200">
            <div class="flex-1 flex flex-col overflow-hidden">
                <header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-success-orange h-[60px]">
                    <div class="flex items-center">
                        <img src="{{ asset('assets/images/succes-logo.png') }}" alt="" class="h-9/12 py-4">
                    </div>

                    <div class="flex items-center z-10">
                        <div x-data="{ dropdownOpen: false }" class="relative">
                            <button @click="dropdownOpen = ! dropdownOpen" class="relative flex items-center gap-2 focus:outline-none hover:text-success-orange duration-300">
                                <i class="fas fa-bars fa-lg"></i>
                            </button>
                            <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10" style="display: none;"></div>
                            <div x-show="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10" style="display: none;">
                                <a href="{{ path('dashboard_users_index') }}"  class="block px-4 py-2 text-sm text-gray-700 hover:bg-success-orange hover:text-white">Users</a>
                                <a href="{{ path('dashboard_news_index') }}"  class="block px-4 py-2 text-sm text-gray-700 hover:bg-success-orange hover:text-white">News</a>
                                <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-success-orange hover:text-white">Logout</a>
                            </div>
                        </div>
                    </div>
                </header>
                <main class="h-screen flex-1 overflow-x-hidden overflow-y-auto">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
</body>
</html>
